/*  your css code here. If applicable */
.testimonial{
	background-color: #f5f5f5;
	width:600px;
	height:500px;
}
.testi{
 border: 2px solid #ccc;
	background-color:white;
	width:400px;
	height:80px;
	padding: 16px;
    margin: 16px ;
	
}
.testi{
 border: 2px solid #ccc;
	background-color:white;
	width:400px;
	height:80px;
	padding: 16px;
    margin: 16px 0;
	
}
@media (max-width:500px) {
  .testi {
    text-align: center;
  }

















